@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

/* Footer */

footer {
    background-color: #29aee6;
    width: 100%; 
    padding: 10px 0px; 
    margin: 0px;
    /* position: absolute;
    bottom: 0; */
}

#duvidas {
    color: white;
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 5px;
}

#especialistas {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
}

#email {
    color: white;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

#endereco {
    color: white;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding-left: 10px;
}

#telefone {
    color: white;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding-left: 10px;
}

#imgMapa {
    width: 20px;
}

#imgTelefone {
    width: 20px;
}

#balao {
    width: 80px;
}

.listStyle {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.column {
    margin-left: 30px;
    margin-right: 30px;
}

.text-align {
    text-align: center;
}

@media (max-width: 1140px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .resp1 {
        padding-left: 2px;
        padding-top: 50px;
    }

    .resp2 {
        padding-left: 2px;
    }
}

@media (max-width: 385px) {
    #email {
        font-size: 20px;
    }

    #telefone {
        font-size: 20px;
    }

    #endereco {
        font-size: 20px;
    }

    #especialistas {
        font-size: 20px;
    }
    
    .resp3 {
        padding-right: 25px;
    }

    #page{
        min-width: 100%;
    }
}
}