@import url('../fonts/Myriad\ Pro\ Regular.otf');

/*  Nav */
.bg-primary{
    background-color: rgb(1,163,210) !important; 
}

.navbar{
    padding: 15px 0px ; 
}

.navbar-brand{
    font-size: 1.6em !important;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav{
    font-family: Segoe UI Bold;
    font-size: 1.3em;
    letter-spacing: .1rem;
}

.nav-item{
    margin: 0px 15px;
} 


.nav-link{
    color: white !important;
    opacity: 0.8;
}

.nav-link:hover{
    padding-bottom: 3px; 
    border-bottom-width: 3px; 
    border-bottom-style: solid; 
    border-bottom-color: #191970; 
    opacity: 1;
}

@media (max-width: 995px){
    .nav-item{
        margin: 0px 5px;
        
    } 

    .navbar-brand{
        font-size: 1.4em !important;
    }

    .navbar-nav{
        font-size: 1.2em !important;  
    }

    .container{
        padding: 0px 2px;
    }
}


@media (max-width: 774px){
    .navbar-brand{
        font-size: 1.2em !important;
    }

    .nav-item{
        margin: 0px 8px;
    } 

    .navbar-nav{
        font-size: 1em !important;
        letter-spacing: 0;
    }
}


@media (max-width: 575px){
    .navbar-brand{
        margin-left: 25px; 
        font-size: 1.6em !important;
    }

    .nav-item{
        text-align: center;
        margin: 2px 0px;
    } 

    .nav-link:hover{
        padding-bottom: 8px; 
        border: none; 
        opacity: 1;
    }

    .navbar-nav{
        border-top-width: 1px; 
        border-top-style: solid; 
        border-top-color: #191970; 
        margin-top: 15px ; 
        letter-spacing: .1rem;
        font-size: 1.2em !important;
    }
}

/*  /Nav */

.carteira {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-style: normal;
    background-image: url('../img/Background\ Carteira.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 289px; */
    width: 90%;
    margin: 5px auto;
    border: solid 1px black;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.header-fundo {
    width: 89.5%;
    box-sizing: border-box;
    position: absolute;
    height: 6%;
    background-color: rgb(16,172,213);
    z-index: -1;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.referencia {
    background-image: url('E:/OneDrive/Área de Trabalho/Digital House/PI/Repositório/projeto-integrador-cnh-agendamento/provisórios/img/layout card.png');
    background-size: cover;
    opacity: 0.5;
    width: 289px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 10px;
    height: 27vh;
    box-sizing: border-box;
    z-index:-1;
    position: absolute;
}

.encapsulamento-carteira {
    margin: 0 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    box-sizing: border-box;
}

body {
    margin: 0 0;
    box-sizing: border-box;
}
.header-carteira {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    color: black;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

#uf, #municipio {
    font-weight: bold;
}

.header-direita {
    float: right;
}

.foto {
    width:90%;
    margin: 8px 0 0 8px;
    box-sizing: border-box;
}

.contato {
    width: 35%;
    box-sizing: border-box;
}

.botao-contato {
    border-radius: 0;
    font-size: 9px;
    width: 79%;
    padding: 2px;
    line-height: 1;
    display: block;
    margin: 7px 7px 0 14px;
    border-color: rgb(1,163,210);
    background-color: rgb(1,163,210);
    border-radius: 1px;
    box-sizing: border-box;
}

.modelo {
    width: 286%;
}

.corpo-carteira {
    display: flex;
    flex-wrap: wrap;
    height: 78%;
}

.informacoes {
    width: 65%;
    font-size: 12.5px;
}

#nome-usuario {
    margin: 4px 0 0 1px;
}

.detalhes {
    margin: 3px 0 0 1px;
    font-size: 9px;
}

.disponibilidade-tabela {
    border-collapse: separate;
    border-spacing: 4px;
    font-size: 6.5px;
    padding: 0;
    margin: 0px 0px 0 0px;
    box-sizing: border-box;
}

.disponibilidade-tabela th {
    padding: 0;
    box-sizing: border-box;
}

.disponibilidade-tabela td {
    padding: 0;
    box-sizing: border-box;
}

.indisponivel {
    opacity: 0.3;
}

td img {
    width: 10px;
}

td {
    text-align: center;
    box-sizing: border-box;
}

.valor {
    font-size: 6px;
    text-align: center;
    margin: 2px 0 0 5px;
}

.valor span {
    font-size: 8px;
}

#municipio {
    text-transform: uppercase;
}

.disponibilidade-texto {
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    margin: 1px auto;
    text-align: center;
}

@media (min-width:375px) {

    .carteira {
        height: 198px;
        width: 326.25px;
    }

    .referencia {
        width: 326px;
        height: 197px;    
    }

    .header-fundo {
        height: 43px;
        width: 324.3px;
    }

    .header-carteira {
        font-size: 14px;
        height: 22%;
    }

    .foto {
        width: 88%;
        margin-top: 12px;
        margin-left: 10px;
    }

    .botao-contato {
        font-size: 10px;
        margin-top: 8px;
        margin-left: 15px;
        width: 80%;
    }

    .informacoes {
        font-size: 14px;
    }

    .detalhes {
        margin-top: 3px;
        font-size: 10px;
    }

    .disponibilidade-texto {
        font-size: 12px;
    }

    .disponibilidade-tabela {
        font-size: 7.5px;
    }

    .valor {
        font-size: 7px;
        margin-top: 4px;
    }

    .valor span {
        font-size: 9px;
    }

    #nome-usuario {
        margin-top: 6px;
    }

    td img {
        width: 12px;
    }

}

@media (min-width:1024px) {

    .carteira {
        height: 261px;
        width: 432px;
    }

    .referencia {
        height: 261px;
        width: 432px;  
    }

    .header-fundo {
        height: 57px;
        width: 431px;
    }

    .header-carteira {
        font-size: 18px;
    }

    .foto {
        width: 89%;
        margin-top: 15px;
        margin-left: 13px;
    }

    .botao-contato {
        font-size: 13px;
        margin-top: 12px;
        margin-left: 20px;
    }

    .valor {
        font-size: 9px;
        margin-top: 6px;
    }

    .valor span {
        font-size: 11px;
    }

    .informacoes {
        font-size: 18px;
    }

    #nome-usuario {
        margin-top: 9px;
    }

    .detalhes {
        font-size: 14px;
    }

    .disponibilidade-texto {
        font-size: 15px;
        margin: 2px auto;
    }

    .disponibilidade-tabela {
        font-size: 10px;
    }

    td img {
        padding-top: 3px;
        width: 16px;
    }

}
